.App {
  text-align: center;

  /* This just ensures the canvas stays within the user space */
  overflow: hidden;
}

/* Set up the canvas area */
#pixelCanvas {
  border: 1px solid #000;
  cursor: pointer;
}